	<body> 
		<section id='userProfile-profilePic'>
			<img src="" alt="User Profile pictre">
			<p> User Profile pic will go here.( this needs to be dynamically generated)
			</p>	 
		</section>
		<header>
			<h1 id='userProfile-userName'> User Name(dynamically generated)  </h1>
			<h2 id='userProfile-userBio'> User Title ( reminder_ who am I? - dynamically generated )</h2>
		</header>
		<body id='userProfile-nav'> 
			<p> Additonal Nav links ( links based on user profile) </p>
			<ul class="siteSections">
				<li> <a href="">Motivation </a> </li>
				<li> <a href="">Goals & Actions </a></li>
				<li> <a href="">Progress </a></li>
				<li> <a href="">Accountability Partners</a></li>
				<li> <a href=""> Messages </a></li>
			</ul>
		</body>
	</body>






